.image-item-wrapper {
  display: flex;
  position: relative;
  max-width: 600px;
  max-height: 500px;
  height: 330px;
  width: calc(100% / 6);
  overflow: hidden;
  position: relative;
}

.image-item-wrapper:hover .view-pointer {
  /* display: block; */
}

.image-text-wrap {
  background: #084c78;
  padding: 10px 15px;
  position: relative;
  flex: 0.3;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 4em;
}

.image-text-wrap .image-text-top {
  color: white;
  font-size: 3.5em;
  font-weight: 700;
}

.image-text-wrap .image-text-btm {
  color: white;
  font-size: 1.3em;
  font-weight: 500;
  margin-top: auto;
}

.xre {
  flex: 0.7;
  position: relative;
}

.hov-img {
  width: 100%;
  /* max-width: 300px; */
  height: 100%;
  background-repeat: no-repeat;
  background-size: unset;
  background-position: center;
  filter: grayscale(1);
}
.image-overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #084b7867;
  z-index: 10;
  /* transition: background-color 0.3s ease-in-out; */
}

.view-pointer {
  position: absolute;
  /* bottom: 40px; */
  color: #29526e;
  background-color: white;
  z-index: 10;
  /* left: 50%; */
  font-size: 8px;
  padding: 9px 5px;
  border-radius: 50px;
  pointer-events: none;
  transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
  user-select: none;
  display: none;
}

/*  */

.box {
  max-width: 600px;
  max-height: 500px;
  height: 330px;
  width: calc(100% / 6);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.myimg {
  height: 100%;
  width: 100%;
}

.uncover {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.gradOverlay {
  position: absolute;
  z-index: 3;
  height: 100%;
  width: 100%;
  flex-grow: 1;
  background: #20587e9c;
  opacity: 1;
}

.uncoverSlice {
  position: absolute;
  display: flex;
  z-index: 3;
  height: 100%;
  width: 30%;
  flex-grow: 1;
  background: black;
}
