.main-text {
  text-align: center;
  font-size: 12vw;
  color: #084c78;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.photo-flex {
  align-items: center;
  column-gap: 2px;
  justify-content: center;
  width: 100%;
}
