body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.c-pointer {
  cursor: pointer;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
}

.d-flex {
  display: flex;
}

.flex-one {
  flex: 1;
}

.align-start {
  align-items: flex-start;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
